
head,body
{
    width:100%;
    margin:0px;
    height:100%;
    padding:0px;
    overflow-x: hidden;
}

.nav-color
{
    background-color: rgba(178, 33, 55,0.8);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none!important;
    box-shadow: none;
    border: none;
}

/*In this style Im hiding hamburger border*/

ul.list-color li a
{
    color: #c9ac6a!important;
    font-size: 14px!important;
}

.btn-color
{
    background : #c9ac6a!important;
    color: white;
}

ul li.left-btn a
{
    padding : 15px;
}

.slide-h
{
    height : 500px;
}

.btn-cont
{
    margin-left : 780px;
    margin-bottom: 30px;
}

.btn-size
{
    background: #c9ac6a!important;
    color: white;
}

.cont
{
    height: 350px;
    width : 600px;
    background-color: rgba(0,0,0,0.3);
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.para
{
    font-size: 50px;
    color: white;
    font-weight: bolder;
    margin: auto;
}

.img-align
{
    margin: auto;
    display: block;
    margin-top : 4em;
}

.style1
{
    margin-top: 5em;
}

.imagechnges
{
    display: block;
    height: 350px;
    width : 500px;
    margin :auto;
}

#font-c-sz
{
    font-size: 50px;
    color: #c9ac6a!important;
    font-family: 'Oswald', sans-serif;
    height: 1.5em;
}

.font-c-sz-1
{
    display: block;
    height: 100px;
    width: 500px;
    text-align:justify;
    font-size : 17px;
    font-family: 'Roboto Condensed', sans-serif;
}

h5.modal-title
{
    margin :auto;
}

.img-align-1
{
     margin: auto;
    display: block;
    margin-top : 4em;
}

.img-centerd
{
    display: block;
    margin: auto;
    margin-top: 60px;
}

.container-x
{
    bottom: 0px;
    width : 315px;
    background: rgba(0,0,0,0.5);
    color: white;
    display: block;
    margin: auto;
    font-size: 30px;
    margin-bottom: 82px;
}

.btn-center
{
    margin: auto;
    display: block;
    width : 25%;
    margin-top : 15px;
    margin-bottom: 20px;
}

.rs
{
    font-size : 15px;
}

.footer-back
{
    background: rgba(253, 237, 206, 0.35); 
}

.footer-img
{
    width: 80%;
    padding : 15px;
}

.img-foot
{
    width: 100%;
    height: 70%;
    margin: 0px;
    padding: 0px;
}

.text-style
{
   padding : 15px;
   margin-bottom: 100px;
}

.fonty
{ 
    font-size: 20px;
    font-weight:600;
}

.fa-facebook-square
{
    color: #3b5998;
}

.fa-google-plus-square
{
    color: #c32f10;
}

.fa-instagram
{
    color: #de58a1;
}

.fa
{
    margin: 4px;
}

@media only screen and (max-width: 1200px)
{
    *
    {
       overflow-x: hidden;  
    }
    
    .slide-h
    {
       height : 250px;
    }
    
    .btn-cont
    {
        margin-left:5px; 
        
    }
   
    .cont
    {
        height : 120px;
        width : 200px;
        margin-bottom: 20px;
    }
    
    .para
    {
       font-size: 15px;
       color: white;
       font-weight: bolder;
       margin: auto;
    }
    
    .img-align
    {
        display: block;
        margin: auto;
        height: 5em;
        margin-top: 45px;
    }
    
    .style1
    {
       margin-top : 2em;
    }
    
    .imagechnges
    {
        display: block;
        margin: auto;
        padding : 0px 30px 8px;
        margin-top: 35px;
    }
    
    #font-c-sz
    {
        padding-left: 30px;
        margin-top: 45px;
        font-size: 35px;
    }
    
    .font-c-sz-1
    {
        font-size: 15px;
        padding-right: 30px;
        padding-left: 30px;
        max-width: 100%;
        height: 180px;
    }
    
    .img-align-1
    {
        display: block;
        margin: auto;
        height: 3.5em;
    }
    
    .container-x
    {
       bottom: 0px;
    width : 250px;
    background: rgba(0,0,0,0.5);
    color: white;
    display: block;
    margin: auto;
    font-size: 30px;
    margin-bottom: 82px;
    
    }
    
    .img-centerd
    {
        margin-top: 30px;
    }
    
    .footer-img
    {
        display: block;
        margin: auto;
    }
    
    .fonty
    {
        margin-top: 15px;
    }
    
    .text-style
{
   margin-bottom: 30px;
}
    
}

